.main{

    @apply h-dvh;
    @apply w-dvw;
    z-index: 5;
  
    .body{
      display: flex;

      align-items: center;

      justify-content: center;
    }

    .mask, .body{

      width: 100%;

      height: 100%;

      display: flex;

      align-items: center;

      justify-content: center;

      color: #f7f9e6;

      // line-height: 66px;

      cursor: default;

      z-index: 5;

      p{

        width: 1300px;

        padding: 10px;

        z-index: 5;

      }

      span{

        color: #adc030;

        z-index: 5;

      }

    }

  

    .mask{

      mask-image: url('../../public/mask.svg');

      mask-repeat: no-repeat;

      mask-size: 40px;

      background: #adc030;

      position: absolute;

      color: black;

      z-index: 10;

    }

}